.section {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--text-color);
    gap: 42px;
    padding-inline: 40px;
    box-sizing: border-box;
    padding-bottom: 92px;
}

.section h1 {
    height: 55px;
    width: 28%;
    font-size: 32px;
}

.content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}